.Header {
  background-color: silver;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 10%;
}

.Navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.Navbar li {
  display: flex;
  align-items: center;
  margin: 0rem 0rem 0rem 1rem;
}

.Navbar a {
  text-decoration: none;
}
