.Component {
  padding: 1rem 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: calc(var(--large-block) + 4rem);
  padding: 0rem 2rem;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Tablet and smaller */
@media screen and (max-width: 1024px) {
  .Component {
    padding: 1rem 3%;
  }
  
  .Content {
    padding: 0rem 1rem;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .Component {
    padding: 1rem 4%;
  }
  
  .Content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 0.25rem;
  }
}
