@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  font-family: "Inter", "Inter Variable", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  @apply bg-base-200 text-base-content overflow-x-hidden max-w-full;
}

a {
  @apply text-primary transition-colors duration-150;
}

a:hover {
  @apply text-primary;
}

::selection {
  @apply bg-primary text-white;
}
